<div class="container" data-controller="form">
  <div class="row text-center text-light title">
    <h1>Travel Companion</h1>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-sm-6">
      <div class="d-flex justify-content-between align-items-center">
        <div class="exchange-rate">
          <p>Exchange Rate: <span id="exchange_rate"></span></p>
          <p><small>Updated on: <%= @updated_on %></small></p>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <i class="fa-solid fa-gear"></i>
        </button>
      </div>
      <%= simple_form_for @user, html: { class: 'form-inline' } do |f| %>
        <div class="row mt-3">
          <div class="col-3">
            <%= f.input :currency_from, collection: @currencies, selected: @user.currency_from, label: false, input_html: { data: { target: 'from', action: 'change->form#renderTheFlagAndSymbol' }, class: 'drop-down-control mb-2' }, wrapper_html: { class: '' } %>
          </div>
          <div class="col-9">
            <div class="input-group mb-3">
              <span class="input-group-text" id="from_symbol"></span>
              <input type="number" pattern="[0-9.]*" inputmode="numeric" id="user_amount" name="amount" data-target="currency-form.amount" value="1" min="0" class="form-control" aria-label="Amount (to the nearest dollar)" data-action="keydown->form#doTheThing keyup->form#doTheThing">
              <span class="input-group-text">
                <img id="fromflag" alt="flag" src="" style="width: 1.5em">
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= f.input :currency_to, collection: @currencies, selected: @user.currency_to, label: false, input_html: { data: { target: 'to' }, class: 'drop-down-control mb-2' }, wrapper_html: { class: '' } %>
          </div>
          <div class="col-9">
            <div class="input-group mb-3">
              <span class="input-group-text" id="to_symbol"></span>
              <input type="number" pattern="[0-9]*" inputmode="numeric" id="result" name="amount" data-target="currency-to.amount" value="1" min="0" class="form-control" aria-label="Amount (to the nearest dollar)" data-action="keydown->form#doTheThing keyup->form#doTheThing">
              <span class="input-group-text">
                <img id="toflag" alt="flag" src="" style="width: 1.5em">
              </span>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row mt-3">
        <div class="col-10">
          <button class="btn btn-warning ml-2 w-100 form-button" data-action="click->form#doTheThing click->form#shakeItUp">CONVERT</button>
        </div>
        <div class="col-2">
          <button data-action="click->form#flipItUp" class="btn btn-info w-100"><i class="fa-solid fa-arrows-rotate"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'converter/partials/modal', user: @user, currencies: @currencies %>
